<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>เปรียบเทียบห้องเช่า</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

    <ion-item>
        <ion-label>เลือกห้องเช่า</ion-label>
        <ion-select [(ngModel)]="result.room1">
            <ion-option *ngFor="let get of value" value={{get.room_name}}>{{get.room_name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-note>กับ</ion-note>
      <ion-item>

          <ion-label>เลือกห้องเช่า</ion-label>
          <ion-select [(ngModel)]="result.room2">
            <ion-option *ngFor ="let get of value"  value={{get.room_name}}>{{get.room_name}}</ion-option>
          </ion-select>
        </ion-item>

      <button ion-button (click)="getRoomToRoom()">ส่ง</button>

</ion-content>